*{
  margin:0;
  padding:0;
}

body {
  background: #fafafa;
  margin:0;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
    text-align: center;
    margin:0;
}

h1 {
    font : "calibri";
    text-align : center;
    color: #F2F2F2
}

h2, h4, h5, h6 {
  color: #A61B0F;
}

h3 {
    
}

.bg-steel {
  background-color: #A61B0F;
}

.site-header .navbar-nav .nav-link {
  color: #F2BB13;
  text-transform: uppercase;
}

.site-header .navbar-nav .nav-link:hover {
  color: #F28C0F;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-toggler.toggler-example {
cursor: pointer;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.container {
    margin:5rem;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.div1 {
    width: 50%;
    float: left; 
    /*background-color: blue;*/
}

.div2 {
    width: 50%;
    float: right;
    /*background-color: green;*/
}

.div3 {
    margin-top: 20px
}

nav {
    float: right;
}

img{
 display:block;
}

#showcase{
    margin:0;
    background-image:linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)),url('showcase.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1{
    font-size: 50px;
}

#showcase p{
    font-size: 20px;
    color: white;
}

#showcase .button{
    font-size:18px;
    text-decoration:none;
    border: #A61B0F 1px solid;
    padding: 10px 20px;
    border-radius:10px;
    margin-top: 20px;
    color: #A61B0F
}

#showcase .button:hover {
    background: #A61B0F;
    color: #F2BB13;
}

/*
#showcase .button1{
    font-size:18px;
    text-decoration:none;
    border: 1px solid;
    padding: 10px 20px;
    border-radius:10px;
    margin-top: 20px;
    float:left;
    color:white;
}

#showcase .button2{
    font-size:18px;
    text-decoration:none;
    border: 1px solid;
    padding: 10px 20px;
    border-radius:10px;
    margin-top: 20px;
    float:right;
    color:white;
}
*/

#section-a {
    padding: 20px;
    color: #fff;
    text-align: center;
}

#section-b {
    padding: 20px;
    color: #fff;
    text-align: center;
    display: flex;
}

#section-b div {
    padding: 20px;
}

#section-b .box-1, #section-b .box-3 {
    background: rgba(96, 35, 30, 0.29)
}

#section-b .box-2, #section-b .box-4 {
    background: rgba(122, 44, 37, 0.42)
}