{% extends "layout.html" %} {% block content %} <div class="container float-container">
    <div class="content-section float-child">
        <p> {{ textinfo }}</p>
        {% if current_user.is_authenticated %}
        <form method="post">
            <input type="submit" value="Add country to collection!">
        </form>
        {% endif %}
    </div>
    <div id="mosaic">
        <div class="float-child row"> {% for url in links %} <div class="column">
                <img src=" {{ url }}">
            </div> {% endfor %} </div>
    </div>
</div> {% endblock content %}