{% extends "layout.html" %} {% block content %} 
    <section id="section-a" class="fwh-slide1">
        <h2>Mission of Website </h2>
        <p>
            <center>
                This is a site where you could explore and find out about Africa’s rich culture and diversity.
                <br>
                 From reading about facts and seeing stunning quality images, you will be able to share part of the experience...still not enough for you?
                <br>
                 You could book your flight to one of the beautiful locations and experience the beauty of Africa in real life!
            </center>
            
    </section>
    <section id="section-b" class="fwh-slide2">
        <section id="section-b1">
            <h1> About Us</h1>
        </section>
        <section id="section-b2">
            <div class="box-1">
                <div class="about">
                    <article>
                        <img src="static/richmond.jpeg">
                        <blockquote>
                           My name is Richmond Yevudza. I am from Ghana and a Junior at Calvin University studying Computer Science. I focused mainly on the front-end development and design of the webpage. A fun fact about me is that I am an avid videogame lover and love to play sports. I also enjoy travelling and exploring places. This website is important to me because it lets everyone experience and see the hidden beauty of Africa. Have fun exploring!
                        </blockquote>
                    </article>
                    <a href="https://www.linkedin.com/in/richmond-y-4417a212b">
                        <img src= "static/linkedin.png" width=40px height=40px>
                    </a>
                </div>               
            </div>
            <div class="box-2">
                <div class="about">
                    <article>
                        <img src="static/henry.JPG">
                        <blockquote>
                            My name is Henry Baldacci, and I am from Kenya and a Junior in Computer Science and Mathematics at Calvin University. I focused on the back-end of this project and API integration with the front-end. This is a great way to show people what Africa actually looks like, and educates people on the true beauty of the continent.     
                        </blockquote>                        
                    </article>
                    <a href="https://www.linkedin.com/in/henry-baldacci">
                        <img src= "static/linkedin.png" width=40px height=40px>
                    </a>
                </div>  
            </div>
            <div class="box-3">
                <div class="about">
                    <article>
                        <img src="static/onyii.png">
                        <blockquote>
                            My name is Onyii Nnebe. I am from Nigeria and a Junior at the University of Georgia studying Management Information Systems. I worked mostly on the front-end development and design of the webpage. An interesting thing about me is that I am a self-taught music producer.  I really love the idea of this webpage because it's sad that people have a skewed view of Africa and I hope this page will broadcast how beautiful Africa is. I hope you all enjoy!
                        </blockquote>
                    </article>
                    <a href="https://www.linkedin.com/in/onyedikachi-nnebe-088a3a218">
                        <img src= "static/linkedin.png" width=40px height=40px>
                    </a>
                </div>  
            </div>
            <div class="box-4">
                <div class="about">
                    <article>
                        <img src="static/tofunmi.jpg">
                        <blockquote>
                            My name is Oluwatofunmi Oyetan. I am from Nigeria and a Junior in Computer Engineering at the Univeristy of Kentucky. I focused on the back-end of the project as well as interaction with html and testing. This website means a lot because it helps change the single story most people have about Africa. Go and experience the rich culture and beauty Africa as a continent beholds!     
                        </blockquote>
                    </article>
                    <a href="https://www.linkedin.com/in/oluwatofunmi-oyetan-81ba71190">
                        <img src= "static/linkedin.png" width=40px height=40px>
                    </a>
                </div>  
        </section>
        <section id="section-b3">
            <h1>Contact Us</h1>
            <h4>(616) 649-5678</h4>
            <a href="#showcase" class="button">Back To Top</a>
            <h2> &copy; AfriXplore 2021</h2>
        </section>
    </section>
{% endblock content %}%}